{{template "base" .}}


{{define "content"}}
<div class="container">
	<div class="class row">
		<div class="col">
			<h1>This the Home Page</h1>
			<p>This is some text</p>		
		</div>
	</div>
</div>
{{end}}